html {
  background-image: url(/imagini/bg.jpg);
}
.navbar a {
  text-decoration: none;
  color: burlywood;
  font-size: 18px;
  font-weight: 500;
  margin-left: 30px;
}

.navbar {
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 5px;
  background: slategray;
}

div {
  display: block;
  font-size: 15px;
  margin-right: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  text-align: center;
  margin-bottom: 5px;
}
.flex-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

strong {
  text-align: center;
}
@media (max-width: 600px) {
  .flex-list {
    display: block;
    align-items: left;
  }
  h2 {
    text-align: left;
  }
}
